<link rel="icon" href="favicon.ico" />
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
    <script src="/javascripts/home.js"></script>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/advance_search.js"></script>

    <% provide(:title, 'Your Profile') %>

<%= render 'header_loggedin' %>

<section>
    <div id="BodyWrapper">
      <div id="MainBody">

    
        <div id="results_col">
          <div id="results_count" class="mod results_count">
            
            <div class="photo_area">
          		 <%= image_tag @user.image_url(:thumb).to_s , :class => "profile_pic"%>
			      </div>
          	
          	<div class="name">
          		<b> <%= @user.userFname + " " + @user.userLname %> </b>
          	</div>

            <div class="personal_info">
              <div class="uni">Student at <%= @user.University%> </div> </br>
              <div class="country_etc"> <%= @user.country %> | <%= @user.Industry %> </div>
            </div>

            <br/><br /><br/><br /><br/>
            
            <a class="button-secondary edit-profile" href="#">Edit Profile</a>
            

            <div class="member-connections">
              <strong>
                <a href="/home/default" class="connections-link"> <%=@user.friends.count %> </a> </br>
              </strong>
              connections
            </div>
            <br />


            			      
        			<% if user_signed_in? %>
        				<% if current_user != @user %>
        				<div class="relation_status">
        					<% if current_user.friend_with? @user  %>
        					     <%= button_to "Remove Friend", {:controller => :friendships, :action => :destroy, :user_id => @user }, :method => :delete ,:class => "reject" %>
        					<% elsif current_user.invited? @user  %>
        					     
        					     <%= button_to "Cancel Request", {:controller => :friendships, :action => :destroy, :user_id => @user }, :method => :delete ,:class => "reject" %>
        					<% elsif @user.invited? current_user  %>
        					     <%= button_to "Accpet", {:controller => :friendships, :action => :update, :user_id => @user  }, :method => :put ,:class => "accept" %>
        					     <%= button_to "Decline", {:controller => :friendships, :action => :destroy, :user_id => @user }, :method => :delete ,:class => "reject" %>



        					<% else %>
        					     <%= button_to "Add Friend", friendships_path( :user_id => @user), :method => :post,:class => "accept" %>
        					<% end %>
        				</div>
        				<% end %>
        			<% end %>
          </div>
          

          <div class="activity">
            <h2>Activity</h2>
          <div class="createPost">
            <% if current_user == @user %>
                <%= form_for(@post) do |f| %>
                  
                  <div class="field">
                    <%= f.text_area :content, placeholder: "Share an update..." ,:class=>"post_text_area" %>
                  </div>
                  
                  <div class="clearfix">
                        <div class="input">
                          <%= f.file_field :image , :class=>"post aselect" %>
                        </div>
                  </div>

                  <%= f.select(:public, ['Public', 'Connections',],{}, :class => "post_public bselect")%>
                  
                  <%= f.submit "Share", class: "accept" %>
                <% end %>
            <%end%>
          </div>

          <ol class="microposts">
            
            <% @postsbyuser.each do |post| %>
            
                <% if current_user.friend_with? @user || current_user == @user %>
                <li>      
                  <h1><%= link_to @user.userFname + " " + @user.userLname , @user , :class=>""%></h1> 
                      </br>
                  <span class="content"><%= post.content %></span>

                      

                    <% if post.image.present? %>
                        <%= image_tag post.image_url.to_s , :class=>"post_image"%>
                    <%end%>

                    
                      <span class="timestamp">
                        Posted <%= time_ago_in_words(post.created_at) %> ago.
                      </span>
                  


                    <div class="comments">
                      <% post.comments.each do |c| %>

                        <div class="commenter_photo">
                          <%= image_tag c.user.image_url(:small).to_s , :class => "commenter_pic"%>
                        </div>

                        <span class="commentsmall"><%= c.body %></span>                        

                        
                        <span class="timestamp">
                          Posted <%= time_ago_in_words(c.created_at) %> ago.
                        </span>
                      
                      
                      <%end%>

                    </div>

                    <%= form_for [post, Comment.new] do |f| %>
                      <p class="new">
                             
                              <%= f.text_area :body, :class=>"newcomment" %>
                      <%= f.submit "Add comment" ,:class=>"cselect" %></p>
                      
                    <% end %>
                  </li>


                  <% elsif current_user == @user  %>

                    <li>
                      <%= link_to @user.userFname + " " + @user.userLname , @user , :class=>"name_style"%> 
                      

                      <span class="content"><%= post.content %></span>

                      

                    <% if post.image.present? %>
                        <%= image_tag post.image_url.to_s , :class=>"post_image"%>
                    <%end%>

                    
                      <span class="timestamp">
                        Posted <%= time_ago_in_words(post.created_at) %> ago.
                      </span>

                    <br/>

                    <div class="comments">
                      <% post.comments.each do |c| %>

                        <div class="commenter_photo">
                          <%= image_tag c.user.image_url(:small).to_s , :class => "commenter_pic"%>
                        </div>

                        <span class="commentsmall"><%= c.body %></span>                        

                        
                        <span class="timestamp">
                          Posted <%= time_ago_in_words(c.created_at) %> ago.
                        </span>
                      
                      
                      <%end%>

                    </div>

                    <%= form_for [post, Comment.new] do |f| %>
                      <p class="new">
                             
                              <%= f.text_area :body, :class=>"newcomment" %>
                      <%= f.submit "Add comment" ,:class=>"cselect" %></p>
                      
                    <% end %>
                  </li>

                <% else %>
                

                  <% if post.public == "public" %>                
                  
                  <li>    
                    <%= link_to @user.userFname + " " + @user.userLname , @user , :class=>"name_style"%> 
                      </br>

                      <span class="content"><%= post.content %></span>

                      

                    <% if post.image.present? %>
                        <%= image_tag post.image_url.to_s , :class=>"post_image"%>
                    <%end%>

                    
                      <span class="timestamp">
                        Posted <%= time_ago_in_words(post.created_at) %> ago.
                      </span>
                    

                    <div class="comments">
                      <% post.comments.each do |c| %>

                        <div class="commenter_photo">
                          <%= image_tag c.user.image_url(:small).to_s , :class => "commenter_pic"%>
                        </div>

                        <span class="commentsmall"><%= c.body %></span>                        

                        
                        <span class="timestamp">
                          Posted <%= time_ago_in_words(c.created_at) %> ago.
                        </span>
                      
                      
                      <%end%>

                    </div>

                    <%= form_for [post, Comment.new] do |f| %>
                      <p class="new">
                             
                              <%= f.text_area :body, :class=>"newcomment" %>
                      <%= f.submit "Add comment" ,:class=>"cselect" %></p>
                      
                    <% end %>

                  <%end%>
                
                  </li>
                <%end%>

              
                
            <%end%>
            
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

