<link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
    <script src="/javascripts/home.js"></script>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/advance_search.js"></script>

<%= render 'header_loggedin' %>

<section>
    <div id="BodyWrapper">
      <div id="MainBody">
        <div id="results_col">
          <div id="results_count" class="mod results_count">
            
            <div class="photo_area">
          		 <%= image_tag @user.image_url(:thumb).to_s , :class => "profile_pic"%>
			</div>
          	
          	<div class="name">
          		<b> <%= link_to @user.userFname, @user , :class=>"name_style"%> </b>
          	</div>


			    <p id="notice"><%= notice %></p>
			<% if user_signed_in? %>
				<% if current_user != @user %>
				<div class="relation_status">
					<% if current_user.friend_with? @user  %>
					     <%= button_to "Remove Friend", {:controller => :friendships, :action => :destroy, :user_id => @user }, :method => :delete ,:class => "reject" %>
					<% elsif current_user.invited? @user  %>
					     
					     <%= button_to "Cencel Request", {:controller => :friendships, :action => :destroy, :user_id => @user }, :method => :delete ,:class => "reject" %>
					<% elsif @user.invited? current_user  %>
					     <%= button_to "Accpet", {:controller => :friendships, :action => :update, :user_id => @user  }, :method => :put ,:class => "accept" %>
					     <%= button_to "Decline", {:controller => :friendships, :action => :destroy, :user_id => @user }, :method => :delete ,:class => "reject" %>



					<% else %>
					     <%= button_to "Add Friend", friendships_path( :user_id => @user), :method => :post,:class => "accept" %>
					<% end %>
				</div>
				<% end %>
			<% end %>


          </div>
          
          <div id="results">
            <ul>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

