<h1>Listing advancesearches</h1>

<table>
  <tr>
    <th>Keywords</th>
    <th>User fname</th>
    <th>User lname</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @advancesearches.each do |advancesearch| %>
  <tr>
    <td><%= advancesearch.keywords %></td>
    <td><%= advancesearch.user_fname %></td>
    <td><%= advancesearch.user_lname %></td>
    <td><%= advancesearch.company %></td>
    <td><%= link_to 'Show', advancesearch %></td>
    <td><%= link_to 'Edit', edit_advancesearch_path(advancesearch) %></td>
    <td><%= link_to 'Destroy', advancesearch, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Advancesearch', new_advancesearch_path %>
